<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{id}} - 728x90</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<h1>{{text-1}}</h1>
	<p>{{text-2}}</p>
	<p>{{text-3}}</p>
</body>
<script src="js/app.min.js"></script>
</html>